* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --headerBg: #53ACC7;
  --headerFont: white;
  --bodyBg: whitesmoke; 
  --primaryFont: #261C15;
  --secondaryFont: grey;
  --errorText: #C42021;
  --highlightText: #157145;
}

body {
  /* setting a font size for all child elements that can then be relatively referenced */
  font-size: 20px;
  /* sets the space between lines of text */
  line-height: 1.2;
  font-family: 'Barlow Semi Condensed', Tahoma, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.isFixed {
  position: fixed;
}
