* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --headerBg: purple;
  --headerFont: white;
  --mainBg: whitesmoke; 
  --secondaryBg: grey;
  --primaryFont: #261C15;
  --secondaryFont: grey;
  --errorText: #C42021;
  --highlightText: #157145;
}

body {
  /* setting a font size for all child elements that can then be relatively referenced */
  font-size: 20px;
  /* sets the space between lines of text */
  line-height: 1.2;
  font-family: 'Barlow Semi Condensed', Tahoma, Verdana, sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: var(--bodybg);
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.isFixed {
  position: fixed;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 80%;
  width: 100px;
  background-color: var(--headerFont);
  border: solid 2px var(--headerBg);
  color: var(--primaryFont);
}

.btn-primary:hover,
.btn-primary:active {
  cursor: pointer;
  background: var(--headerBg);
  border: solid 2px var(--headerBg);
  color: var(--headerFont);
}

.error-text {
  color: var(--errorText);
}