.login-header {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 80px;
    align-items: center;
}

.login-h2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% 0%;
}

.yarn-pic {
    max-width: 50vw;
    max-height: 15vh;
    /* margin-top: 5%; */
}

@media (orientation: landscape) {

    .login-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 60px;
    }

    .login-h2 {
        margin-right: 40%;
        margin-top: 0%;
    }

    .yarn-pic {
        max-height: 15vh;
    }
}