section {
    padding: 10%;
}

h2 {
    margin-top: 70px;
}

p {
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: center;
}

.btn-container-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    height: 50vw;
}